.heading {
    font-size: 14px;
    color: $theme1;
    &::after {
        content: '| |';
        font-size: 12px;
        position: absolute;
        top: -2px;
        right: -20px;
    }
    &::before {
        content: '| |';
        font-size: 12px;
        position: absolute;
        top: -2px;
        left: 4px;
    }
}
.sub-heading {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2em;
}