// hero section start
.hero-section {
    & .swiper-slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        & .hero-subheading {
            font-size: 18px;
            color: $white;
            letter-spacing: 3px;
            animation:fadeInUp 1.2s ease backwards;
            & .pie-chart {
                height: 30px;
                width: 30px;
            }
        }
        @keyframes fadeInUp{
            0%{
                transform:translate(0px, 200px);
                 opacity: 0;
            }
            100%{
                transform:translate(0px, 0);
                 opacity: 1;
            }
        }
        & .hero-heading {
            font-size:60px;
            color: $white;
            line-height: normal;
            animation:fadeInUp 1.5s ease backwards;
            & .hero-animation {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: url(../img/Index/main-slide.png) no-repeat;
                    background-size: 100%;
                    background-position: center center;
                    z-index: -1;
                    animation: zoom-fade 5s linear 0s infinite;
                }
                @keyframes zoom-fade {
                    0% {
                      transform: scale(1);
                    }
                    
                    10% {
                      transform: scale(1.05);
                    }
                    
                    20% {
                        transform: scale(1.1);
                    }
                    
                     30% {
                        transform: scale(1);
                    }
                    
                    40% {
                      transform: scale(1.1);
                    }
                    
                    50% {
                      transform: scale(1.1);
                    }
                    
                    90% {
                      transform: scale(1);
                    }
                    
                    100% {
                      opacity: 1;
                      transform: scale(1);
                    }
                  }
                }
        }
        & .hero-title {
            font-size: 15px;
            animation:fadeInUp 1.7s ease backwards;
        }
        & .hero-btn {
            animation:fadeInUp 1.8s ease backwards;
        }
    }    
    & .swiper-slider1 {
        background-image: url(../img/Index/slider-1.png);
    } 
    & .swiper-slider2 {
        background-image: url(../img/Index/slider-2.png);
    }
    // & .owl-nav {
    //     position: absolute;
    //     top: 50%;
    //     padding-left: 30px;
    //     transform: translateY(-50%);
    //     display: inline-flex;
    //     flex-direction: column;
    //     & .owl-prev {
    //         height: 50px;
    //         width: 50px;
    //         border-radius: 50%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         background-color: $theme2 !important;
    //     }
    // }
    & .swiper-button-next {
        left: 30px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $theme2;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            font-size: 10px;
            color: $black;
            font-weight: 600;
        }
    }
    & .swiper-button-prev {
        left: 30px;
        height: 45px;
        top: 40%;
        width: 45px;
        border-radius: 50%;
        background-color: $theme2;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            font-size: 10px;
            color: $black;
            font-weight: 600;
        }
    }
    & .hero-content {
        & .hero-icon {
            height: 105px;
            width: 105px;
            & .hand-icon {
                height: 50px;
                width: 50px;
            }
        }
        & .hero-content2 {
            height: 105px;
            & .hero-checkout {
                font-size: 10px;
                letter-spacing: 3px;
            }
            & .hero-rates {
                font-size: 16px;
            }
        }
    }
}
// hero section end

// Small devices (landscape phones, 576px and up)
@mixin heroSection-mixin-min-sm() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin heroSection-mixin-min-md() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin heroSection-mixin-min-lg() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin heroSection-mixin-min-xl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin heroSection-mixin-min-xxl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin heroSection-mixin-max-xl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin heroSection-mixin-max-lg() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 55px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 15px;
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin heroSection-mixin-max-md() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 44px;
                line-height: 46px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 14px;
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin heroSection-mixin-max-sm() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                    height: 12px;
                    width: 12px;
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 36px;
                line-height: 40px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 13px ;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin heroSection-mixin-max-xs() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                    height: 10px;
                    width: 10px;
                    border-width: 2px;
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 28px;
                line-height: 35px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 12px;
            }
        }
    }
}
// hero section end


// about us section start
.about-us {
    // &::before {
    //     content: '';
    //     position: absolute;
    //     z-index: 0;
    //     height: 100%;
    //     width: 25%;
    //     color: $white;
    //     top: 0;
    //     right: 0;
    //     background-color: lighten($theme1, 45);
    // }
    // &::after {
    //     content: 'FINANCE';
    //     position: absolute;
    //     z-index: 0;
    //     font-size: 120px;
    //     font-weight: bold;
    //     color: $white;
    //     top: 38%;
    //     left: 72%;
    //     transform: rotate(90deg)
    // }
    & .about-left {
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            height: 132px;
            width: 100px;
            top: -15px;
            left: 10%;
            background: url(../img/Index/about-animation.png) no-repeat;
            animation: aboutus 4s infinite linear;
        }
        @keyframes aboutus {
            0%, 100% {
                transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
            }
            50% {
                transform: perspective(400px) rotate(-20deg) translateZ(10px) translateY(10px) translateX(10px);
            }
        }
        & .about-loanicon {
            height: 55px;
            width:86px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -7px;
                height: 55px;
                width: 55px;
                background-color: lighten($black, 90) ;
                z-index: -1;
                border-radius: 50%;
            }
        }
        & .about-title {
        font-size: 18px;
        color: lighten($black,10);
        line-height: 28px;
        
        }
        & .about-title2 {
            font-size: 15px;
            font-weight: 200;
            color: lighten($black, 50);
            line-height: 26px;
        }
        & .about-card {
            & .about-card-heading {
                font-size: 16px;
                & .about-card-icon {
                    height: 30px;
                    width: 30px;
                }
            }
            & .about-card-title {
                font-size: 14px;
                color: lighten($black, 40);
            }
        }
    }
    & .about-us-img {
        max-width: 440px;
        &::before {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            bottom: 20px;
            height: 94%;
            width: 100%;
            background-color: $theme1;
            // width: 100%;
            // height: 100%;
            z-index: -1;
            transform: rotate(4deg);
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            background: url(../img/Index/about-dot.png) no-repeat;
            top: -10%;
            right: -20%;
            height: 190px;
            width: 190px;
        }
        & .about-img-content-main {
            padding: 30px 35px;
            right: -38px;
            bottom: 14%;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 100%;
                height: 40px;
                width: 40px;
                z-index: -1;
                background-color: $theme1;
                clip-path: polygon(0 0, 0 100%, 100% 0);
            }
            & .about-year {
                font-size:40px;
                color: $white;
                line-height: 10px;
                & sup {
                    font-size: 28px;
                    right: 5px;
                    top: -0.3em;
                }
            }
            & .about-experience {
                font-size: 12px;
                color: $white;
                line-height: 14px;
            }
        }
    }
    & .about-cardd {
        margin-bottom: -100px;
        .about-card2 {
            padding: 30px 0;
            & .about-card2-img {
                &::before {
                    content: '';
                    position: absolute;
                    left: 0%;
                    top: 50%;
                    width: 50%;
                    height:65%;
                    transform: translateY(-50%);
                    background-color: $theme2;
                    background-image: linear-gradient(92deg, $white 0%, lighten($theme1,  39) 100%);
                }
                & .about-card2-icon {
                    height: 75px;
                    width: auto;
                }
            }
            & .about-card1-heading {
                font-size: 22px;
                font-weight: 700;
                line-height: 29px;
                transition: all 0.3s ease-in-out;
            }
            & .about-card1-title {
                font-size: 14px;
                color: lighten($black, 45);
                line-height: 26px;
            }
            & .moredetail-btn {
                font-size: 11px;
                color: $black;
                letter-spacing: 2px;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                & .about-card1-heading {
                    color: $theme1;
                }
                & .moredetail-btn {
                    color: $theme1;
                    border-color: $theme1 !important;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin aboutus-mixin-min-sm() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin aboutus-mixin-min-md() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin aboutus-mixin-min-lg() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin aboutus-mixin-min-xl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin aboutus-mixin-min-xxl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin aboutus-mixin-max-xl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin aboutus-mixin-max-lg() {
    .aboutus {
        & .about-card {
            height: 290px;
            width: 290px;
            &:hover {
            }
            & .about-img {
                height: 95px;
                width: 95px;
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin aboutus-mixin-max-md() {
    .aboutus {
        & .about-card {
            height: 300px;
            width: 300px;
            &:hover {
            }
            & .about-img {
                height: 90px;
                width: 90px;
            }
            & .about-heading {
                font-size: 20px;
            }
            & .about-title{
                font-size: 14px;
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin aboutus-mixin-max-sm() {
    .aboutus {
        & .about-card {
            height:270px ;
            width: 270px;
            &:hover {
            }
            & .about-img {
                height: 75px;
                width: 75px;
            }
            & .about-heading {
                font-size: 18px;
            }
            & .about-title{
                font-size: 13px;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin aboutus-mixin-max-xs() {
    .aboutus {
        & .about-card {
            height: 250px;
            width: 250px;
            border-width: 8px;
            &:hover {
            }
            & .about-img {
                height: 65px;
                width: 65px;
            }
            & .about-heading {
                font-size: 16px;
            }
            & .about-title{
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
}
// about us section end


// trust-section start
.trust-section {
    background-image: linear-gradient(rgba($black, .4), rgba($black, .4)),url(../img/Index/trust.jpg);
    // background: url(../img/Index/trust.jpg) no-repeat rgba(255, 0, 150, 0.3);
    background-size: cover;
    background-position: center center;
    padding: 10rem 0;
    background-attachment: fixed;
    &::before {
        content: '';
        position: absolute;
        left: -8%;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(../img/Index/trust-bg.png) no-repeat;
    }
    & .trust-heading {
        font-size: 37px;
        color: $white;
        line-height: normal;
    }
    & .trust-video {
        height: 95px;
        width: 95px;
        animation: pulse 1.2s infinite;
        & .play-icon {
            height: 50px;
            width: 50px;
            background-color: $theme1;
            transition: all 0.3s ease-in-out;
            & .play-img {
                height: 12px;
                width: 12px;
                transition: all 0.3s ease-in-out;
            }
        }
        &:hover {
            & .play-icon {
                background-color: $white;
            }
            & .play-img {
                filter: brightness(0.2);
            }
        }
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0px rgba(252, 251, 251, 0.4);
              }
              100% {
                box-shadow: 0 0 0 20px rgba(248, 246, 246, 0);
              }
        }
    }
    & .trust-card-main {
        & .trust-card {
            font-size: 15px;
            color: $white;
            & .trust-card-icon {
                height: 19px;
                width: 19px;
            }
        }
    }
}
// truse section end


// brand section start
.brand-section {
        background:url(../img/Index/brand-bg.png) no-repeat;
        background-position: center center;
        background-size: cover;
        & .brand-icon {
            width: 175px;
            transition: all 0.3s ease-in-out;
            & .brand-img {
                opacity: 0.3;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                background-color: rgba($theme1, .1);
            }
        }
}
// brand section end

// service section start
.service-section {
    padding: 90px 0;
    & .container {
        &::before {
            content: '';
            position: absolute;
            left: 20px;
            top: 0;
            height: 160px;
            width: 125px;
            animation: service 4s linear infinite;
            background: url(../img/Index/service-animation1.png) no-repeat;
            background-size: cover;
        }
        & .sub-heading { 
            & .service-animation {
                animation: service 4s linear infinite;
                right: 20px;
            }
        }
        & .service-card-main {
            & .service-card {
                & .service-img {
                    max-width: 345px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 0;
                        width: 100%;
                        z-index: 1;
                        background:rgba($black, .4);
                        transition: all 0.3s ease-in-out;
                    }
                    & img {
                        transition: all 0.3s ease-in-out;
                    }
                }
                & .plus {
                    height: 25px;
                    width: 25px;
                    top:0;
                    left: 50%;
                    transform: translate(-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
                & .service-card-content {
                    & .service-card-icon {
                        height: 85px;
                        width: 85px;
                        background-color: $white;
                        padding: 21px;
                        transition: all 0.3s ease-in-out;
                        & .service-icontwo {
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    & .service-card-heading {
                        font-size: 17px;
                        font-weight: 700;
                        color: lighten($black, 1);
                        transition: all 0.3s ease-in-out;
                    }
                    & .service-card-title {
                        font-size: 14px;
                        color: lighten($black, 50);
                        line-height: 26px;
                    }
                    & .service-direct {
                        height: 35px;
                        width: 35px;
                        background-color: $theme3;
                        transition: all 0.3s ease-in-out;
                        & .right {
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $black; 
                        transform: scaleX(0);
                        transform-origin: left;
                        z-index: -1;
                        transition: transform 0.3s ease-in-out;     
                    }
                }
                &:hover {
                    & .service-img {
                        &::before {
                            height: 100%;
                        }
                        & img {
                            transform: scale(1.1)
                        }
                    }
                    & .plus { 
                        top:40%;
                        opacity: 1;
                        visibility: visible;
                    }
                    & .service-card-content {
                        & .service-card-icon {
                            background-color: $theme1;
                            & .service-icontwo {
                                filter:brightness(10);
                            }
                        }
                        & .service-card-heading {
                            color: $theme1;
                        }
                        & .service-direct {
                            background-color: $black;
                            & .right {
                                filter: invert(1);
                            }
                        }
                        &::after {
                            transform: scaleX(1);
                            transform-origin:right;
                        }
                    }
                }
            }
            
        }
    }
    @keyframes service {
        0%, 100% {
            transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
        }
        50% {
            transform: perspective(400px) rotate(-20deg) translateZ(10px) translateY(10px) translateX(10px);
        }
    }
    & .service-animationtwo {
        right: 100px;
        bottom: 30px;
        animation: servicetwo 8s infinite linear;
    }
    @keyframes servicetwo {
        0% {
            transform: translateY(0px) translateX(0) rotate(0);
        }
        30% {
            transform: translateY(10px) translateX(30px) rotate(5deg);
            transform-origin: center center;
        }
        50% {
            transform: translateY(30px) translateX(50px) rotate(15deg);
            transform-origin: right bottom;
        }
        80% {
            transform: translateY(10px) translateX(30px) rotate(5deg);
            transform-origin: left top;
        }
        100% {
            transform: translateY(0px) translateX(0) rotate(0);
            transform-origin: center center;
        }
    }
}
// service section end

// calculate section start
.calculate-section {
    background: linear-gradient(0deg, $white 0%, $theme3 100%);
    padding: 100px 0 0 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/Index/calculate-bg.png) no-repeat;
        background-position: top center
    }
    & .count {
        font-size: 14px;
        color: darken($white, 45);
    }
    & .calculate-title {
        font-size: 14px;
        color: lighten($black, 50);
    }
    & .calculate-img {
        height: 100%;
        width: 500px;
        & .calculate-rating-main {
            background: url(../img/Index/calculate-bg2.png);
            // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 41% 100%, 50% 75%, 0% 75%);
            right: -17%;
            bottom: 40%;
            transform: translate(17%, 40%);
            height: 250px;
            width: 320px;
            background-position: center;
            background-size: 100%;
            & .calculate-rating {
                height: 107px;
                width: 210px;
                margin-bottom: 35px;
                & .calculate-rating-count {
                    font-size: 36px;
                    color: $white;
                    line-height: 37px;
                }
                & .calculate-rating-title {
                    font-size: 16px;
                    color: $white;
                }
            }
        }
    }
    .bubble {
        color:darken($white, 45);
        padding: 4px 12px;
        left: 50%;
        transform: translateX(-50%);
    }
    & .calculate-data {
        font-size: 16px;
        color: darken($white, 45);
    }
    & .calculate-para {
        font-size: 12px;
        color: lighten($black, 50);
        line-height: 26px;
    }
}
// calculate section end

// testimonal start
.testimonal {
    background: url(../img/Index/testim-bg.png) no-repeat;
    background-position: center left;
    & .testim-card-main {
        & .testim-card {
            border: 2px solid $white;
            transition: all 0.3s ease-in-out;
            & .testimonal-img {
                height: 90px;
                width: 90px;
                &::before {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    height: 100%;
                    z-index: -1;
                    width: 100%;
                    border: 2px dashed $theme1;
                }
            }
            & .testim-star {
                height: 12px;
                width: 12px;
            }
            & .testim-heading {
                font-size: 18px;
            }
            & .testim-title {
                font-size: 12px;
                letter-spacing: 1px;
                color: lighten($black, 50);
            }
            & .textim-line {
                transition: all 0.3s ease-in-out;
            }
            & .testim-para {
                font-size: 14px;
                color: lighten($black, 55);
                line-height: 25px;
            }
            &:hover {
                border-color: $theme1;
                & .textim-line {
                    filter: brightness(0.1);
                }
            }
        }
    }
}
// testimonal end

// counter section start
.counter {
    // background-image:url(../img/Index/counter-bg.png);
    // background-color: #1c1c27;
    background-color: darken($primary, 46);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(../img/Index/counter-bg.png) no-repeat;
        background-position: center center;
    }
    & .counter-data {
        font-size: 50px;
        color: $white;
    }
    & .counter-heading {
        font-size: 14px;
        color: $white;
    }
}
// counter section end

// our-benefits section start
.our-benefits {
    background: url(../img/Index/benefit-circle.png) no-repeat;
    background-position: right;
    &::before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 39%;
        position: absolute;
        background-image: linear-gradient(to right, rgba($theme1, .9), rgba($theme1, .9)), url(../img/Index/benefit-bg.jpg);
        background-size: cover, contain;
        // background-position: center, right bottom;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%);
        // background-position: top left;
    }
    &::after {
        content: '';
        position: absolute;
        left: 35%;
        top: -20px;
        width: 90px;
        height: 100%;
        z-index: -1;
        background-color: lighten($theme1, 40);
        transform: rotate(15deg);
        // clip-path: polygon(53% 0, 75% 0, 27% 100%, 0% 100%);
    }
    & .our-benefits-img {
        height: 100%;
        max-width: 490px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, $black 0%, rgba($black, 0) 100%);;
        }
        & .benefits-rating {
            left: 10%;
            bottom: 10%;
            font-size: 40px;
            color: $theme1;
            & .benefits-rating-title {
                font-size: 15px;
                color: $white;
            }
        }
    }
    & .our-benefits-right {
        & .benefits-para {
            font-size: 14px;
            color: lighten($black, 47);
            line-height: 27px;
        }
        & .benefits-card {
            & .benefits-icon {
                height: 52px;
                width: 52px;
                &::before {
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    height: 55px;
                    z-index: -1;
                    width: 55px;
                    border-radius: 50%;
                    background-color: $theme3;
                    transition: all 0.3s ease-in-out;
                }
            }
            & .benefits-card-title {
                font-size: 19px;
                color: lighten($black, 5);
            }
            & .benefits-card-para {
                font-size: 14px;
                line-height: 26px;
                color: lighten($black, 50);
            }
            &:hover {
                & .benefits-icon {
                    &::before {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
}
// our-benefits section end

// news-blog section start
.news-blog {
    & .news-blog-card {
        & .news-content {
            padding:0 40px;
                & .news-title {
                    font-size: 12px;
                    color: lighten($black, 53);
                    transition: all 0.3s ease-in-out;
                    & .news-icon {
                        height: 15px;
                        width: 15px;
                        & img {
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    &:hover {
                            color: $theme1;
                            & .news-icon {
                                & img {
                                    filter: brightness(0.1);
                                }
                            }
                    }
                }
                & .news-slash {
                    font-size: 9px;
                    color: lighten($black, 40);
                }
                & .news-blog-heading {
                    font-size: 22px;
                    color: $black;
                    transition: all 0.3s ease-in-out;
                }
                & .news-blog-para {
                    font-size: 14px;
                    color: lighten($black, 45);
                }
                & .readmore-btn {
                    font-size: 12px ;
                    background-color:$theme3 ;
                    transition:all 0.3s ease-in-out;    
                    & .right-arrow {
                        height: 15px;
                        width: 15px;
                        filter: brightness(0.1);
                        transition: all 0.3s ease-in-out;
                    }
                }
        } 
        & .news-img {
            & .blog-img {
                transition: all 0.3s ease-in-out;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 0%;
                z-index: 1;
                width: 100%;
                background: rgba($black, .4);
                transition: all 0.3s ease-in-out;
            }
            & .news-plus {
                top: 0%;
                left: 50%;
                transform: translate(-50%);
                transition: all 0.3s ease-in-out;
                opacity: 0;
                visibility: hidden;
            }
            & .news-date {
                font-size: 14px;
                color: $white;
                & span {
                    line-height: 16px;
                    font-size: 20px;
                }
            }
        }
        &:hover {
            & .readmore-btn {
                color: $white;          
                background-color: $black;
                & .right-arrow {
                    filter: none;
                    transform: translateX(5px);
                }
            }
            & .blog-img {
                transform: scale(1.1);
            }
            & .news-blog-heading {
                color: $theme1;
            }
            & .news-img {
                &::before {
                   height: 100%;
                }
                & .news-plus {
                    top: 50%;  
                    opacity: 1;
                    visibility: visible;                  
                }
            }
        }
    }
}
// news-blog section end

// apply-loan section start
.apply-loan {
    background-image: linear-gradient(to right, rgba($theme1, .9), rgba($theme1, .9)), url(../img/Index/apply-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    & .apply-loan-img {
        clip-path: polygon(0 0, 100% 0, 94% 100%, 0 100%);
    }
    & .apply-loan-title {
        font-size: 13px;
        color:darken($white, 10);
    }
    & .apply-loan-heading {
        font-size: 35px;
        color: $white;
    }
    & .arrow-animation {
        width: 90px;
        height: 35px;
        animation: shapeMover 5s linear 0s infinite;
        & .arrow-animation-img {
            transform: rotate(120deg);
            filter: invert(1);
        }
        @keyframes shapeMover {
            0%, 100% {
                transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
            }
            
            50% {
                transform: perspective(400px) rotate(-20deg) translateZ(10px) translateY(10px) translateX(10px);
            }
        }
    }
}
// apply-loan section end



